# Vim
/config/nvim/.netrwhist
/config/nvim/bundle/
/config/nvim/spell/
/config/nvim/swap/
/configs/neovim/config/nvim/.netrwhist
/configs/neovim/config/nvim/bundle/
/configs/neovim/config/nvim/spell/
/configs/neovim/config/nvim/swap/
